@import url(http://fonts.googleapis.com/css?family=Noto+Serif:700);


body { 
	font-family: "Noto Serif",Serif;
	position: absolute;
	margin-top : 20px;
	margin-left: 33px;
	float: left;
	background-color: black;
}

#h22{	
	position: relative;
	margin-left: 70px;
	color: #FFFFFF;
}

#h21{	
	position: relative;
	margin-left: 70px;
	margin-top: 0px;
	color: #FFFFFF;
}

.membersClass{
	position: relative;
	color: #ebebeb;
	margin-left: 1020px;
	margin-top: -20px;
	height: 590px;
	width: 263px;
	box-shadow: 3px 7px 30px 5px #006699;
	border-radius: 2px;
	background-color: #006699;
}

.memberlist{
	position: relative;
	background-color: #FFFFFF;
	height: 497px;
	width: 242px;
	margin-left: 10px;
}

.chat{
	float: left;
	position: relative;
	color: #ebebeb;
	box-shadow: 3px 7px 30px 5px #006699;
	width: 978px;
	height: 590px;
	background-color: #006699;
}

#textarea{
	position: relative;
	color: #990033;
	top: 33px;
	left: 10px;
	width: 952px;
}

#messages{
	position: relative;
	color: #990033;
	top: 10px;
	left: 10px;
	width: 956px;
	height: 430px;
	background-color: #FFFFFF;
}

