@import url(http://fonts.googleapis.com/css?family=Noto+Serif:700);

body {
	background: url(../images/back.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#container{
	position: absolute;
	left: 25%;
	top: 20%;
}

#buttons{
	margin-top: 2%;
}

#title2{
	margin-left: 30px;
}

.titles {
	position: relative;
	color: #780000;
	font-family: "Noto Serif", Serif;
	display: inline-block;
}

#title3 {
	visibility: visible;
	margin-left: 30px;
}

#rankingButton{
	margin-left: 80px;
}

#twitterButton {
	float: left;
	position: relative;
	visibility: hidden;
	margin-left: 20px;
}

#facebookButton {
	position: relative;
	visibility: hidden;
	float: left;
	margin-left: 20px;
}