@import url(http://fonts.googleapis.com/css?family=Noto+Serif:700);

h1{	
	color:#FFFFFF;
}

h2{
	color: #FFFFFF;
}

body { 
	font-family: "Noto Serif",Serif;
	background-image: url(../images/back.jpg);
}

.labelcamp, .inputcamp{
	margin: 0px;
}

.warnings{
	color: #FFA500;
	font: 10px Arial, Helvetica, sans-serif;
	visibility: hidden;
}

#warning{
	position: absolute;
	top: 133px;
	left: 76px;	
}

#signin{
text-align: center;
position: absolute;
top: 100px;
left: 422px;
}

#mainContainer{
	position: absolute;
	right: 10%;
}

input{
	border-radius: 4px;
	width: 170px;
}
.inputcamp {
padding-left: 5px;
padding-bottom: 5px;
}
.labelcamp {
	padding-left: 5px; 
	padding-top: 3px;
	color: white;
	font-size: 12px;
}
.divclass {
	margin: auto;
	padding:0px;
	margin-top: 10px;
	border-radius: 5px;
	width: 190px;
}

.fb-login-button{
	position: absolute;
	margin-top: 0px;
	margin-left: 60px;
}

#divemail {
	background-color: #333399;
	margin-left: 154px;
}

#divpassword {
	background-color: #333399;
	margin-left: 154px;
}

#container {
	background-image: url(../images/signBox.png);
	color: #ebebeb;
	height: 410px;
	width: 485px;
	border: 0;
	box-shadow: 3px 7px 30px #333399;
	text-shadow: 2px 2px 30px #333399;
	border-radius: 10px;
}

#signindiv{
	position: relative;
	top: -5px;
	margin: 8px;
}

#signinbutton {
	clear: both;
	position: relative;
	top:5px;
	padding: 5px;
	width: 90px;
	display: block;
	margin-left: 203px;
	margin-top: 20px;
	background: white;
	color: #990033; 	
	border-radius: 6px;
	font-weight: bold;
}
#buttonsignin:hover{
	color: #30b9da;
}

#signUpLink{
	cursor: pointer;
	position: absolute;
	margin-top: 17px;
	margin-left: 151px;
	width: 300px;
	color: white;
}
#signUpLink:hover{
	color: red;
}

#twitterButton{
	position: absolute;
	margin-left: 150px;
	margin-top: 48px;
}

#facebookButton{
	position: absolute;
	margin-left: 150px;
	margin-top: 90px;
}

#googleButton{
	position: absolute;
	margin-left: 150px;
	margin-top: 132px;
}