@import url(http://fonts.googleapis.com/css?family=Noto+Serif:700);

body {
	background: url(../images/back.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#container{
	position: absolute;
	left: 35%;
	top: 10%;
}

#title2 {
	position: relative;
	color: #780000;
	font-family: "Noto Serif", Serif;
	width: 80px;
}

#title1 {
	position: relative;
	color: #FFFFFF;
	margin-left: 62px;
	margin-top: 40px;
}

.contentClass {
	position: relative;
	font-family: "Noto Serif", Serif;
	color: #780000;
}

#allNames {
	position: relative;
	float: left;
}

#allScores {
	position: relative;
	float: left;
	margin-left: 40px;
}

#allRanks {
	position: relative;
	float: left;
	margin-left: 40px;
}