@import url(http://fonts.googleapis.com/css?family=Noto+Serif:700);

h1{	
	position: absolute;
	left: 760px;
	top: -7px;
	color:#FFFFFF;
}
h2{
	color: #FFFFFF;
}
body { 
	font-family: "Noto Serif",Serif;
	background-image: url(../images/back.jpg);
}

.labelcamp, .inputcamp{
	margin: 0px;
}

#signin{
text-align: center;
position: absolute;
top: 100px;
left: 422px;
}


input{
	border-radius: 4px;
	width: 170px;
}
.inputcamp {
padding-left: 5px;
padding-bottom: 5px;
}
.labelcamp {
	padding-left: 5px; 
	padding-top: 3px;
	color: white;
	font-size: 12px;
}
.divclass {
	margin: auto;
	padding:0px;
	margin-top: 10px;
	border-radius: 5px;
	width: 190px;
}

.warnings{
	color: #FFA500;
	font: 10px Arial, Helvetica, sans-serif;
	visibility: hidden;
}

#username_warning{
	position: absolute;
	top: 66px;
	left: 35px;
}

#email_warning{
	position: absolute;
	top: 130px;
	left: 41px;
}

#password_warning{
	position: absolute;
	top: 249px;
	left: 35px;
}

#fields_warning{
	position: absolute;
	top: 291px;
	left: 60px;
}

#divusername {
	background-color: #333399;
	margin-left: 154px;
}

#divemail {
	background-color: #333399;
	margin-left: 154px;
}

#divpassword {
	background-color: #333399;
	margin-left: 154px;
}

#divrepassword {
	background-color: #333399;
	margin-left: 154px;
}

#container {
	
	position: relative;
	background-image: url(../images/signBox.png);
	color: #ebebeb;
	margin-left: 588px;
	margin-top: 77px;
	height: 410px;
	width: 485px;
	border: 0;
	box-shadow: 3px 7px 30px #333399;
	text-shadow: 2px 2px 30px #333399;
	border-radius: 10px;
}

#signindiv{
	position: relative;
	top: 10px;
	margin: 8px;
}

#signupbutton {
	clear: both;
	position: relative;
	top:5px;
	padding: 5px;
	width: 90px;
	display: block;
	margin-left: 203px;
	margin-top: 10px;
	background: white;
	color: #990033; 	
	border-radius: 6px;
	font-weight: bold;
}
#buttonsignin:hover{
	color: #30b9da;
}
#loginLink {
	cursor: pointer;
	position: absolute;
	margin-top: 17px;
	margin-left: 151px;
	width: 300px;
	color: white;
}
#loginLink:hover{
	color: red;
}