#content {
    height: 330px;
    width: 500px;
    display: inline-block;
}

#inputView {
    display: inline-block;
}

#guesses {
    overflow-y: auto;
}

.playerGuess {
    border: thin gray;
    border-bottom-style: solid;

}

#notifierWraper {
    z-index: 99;
    position: absolute;
    left: 50%;
    top: 50%;
    display: none;
}

#notifierContent {
    display: inherit;
    position: absolute;
    left: 30%;
    top: 25%;
    border: solid black 1px;
    box-shadow: 1px 1px 2px 3px #ccc;
    background-color: white;
    border-radius: 5px;
    color: #000000;
    font-size: xx-large;
    padding: 40%;
    margin: 10%;
}