@import url(http://fonts.googleapis.com/css?family=Noto+Serif:700);

body {
	background-image: url(../images/back.jpg);
}

#title2{
	color: #780000;
}

#container{
	position: absolute;
	right: 12%;
	margin-top: 2%;
	color: #780000;
}

#title {
	position: relative;
	color: #780000;
	font-family: "Noto Serif", Serif;
	display: inline-block
}

.userInfoClass {
	position: relative;
	float: left;
}

.infos {
	position: relative;
	float: left;
	color: #780000;
	font-family: "Noto Serif", Serif;
	margin-right: 120px;
}

#image {
	position: relative;
	float: left;
}